<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@{
    ViewBag.Current = "Home";
}

<div class="jumbotron">
    <h1>Microsoft Graph</h1>
    <p class="lead">Prueba de Concepto</p>
    @if (Request.IsAuthenticated)
    {
        <h4>Hola @ViewBag.User.DisplayName!</h4>
  
    }
    else
    {
        @Html.ActionLink("Sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
    }
</div>