<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="3d05fbdd-713c-40d7-be36-3b2a7344d860" />
    <add key="ida:AppSecret" value="C-vI8s0VlB1TCTY~lq39y1dg5Q~tZ9kxX." />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read Mail.Send SMTP.Send email Mail.Send.Shared" />
</appSettings>
